// Color variables.
$oak: #402920;
$redwood: #722f04;
$dry_grass: #f5ebc3;
$river: #2c5290;
$snow: #eeeeee;
$cloud: #cccccc;
$rock: #888888;

// Block editor background color classes.
.has-tts-oak-background-color {
	background-color: $oak;
}

.has-tts-redwood-background-color {
	background-color: $redwood;
}

.has-tts-river-background-color {
	background-color: $river;
}

.has-tts-snow-background-color {
	background-color: $snow;
}

// Block editor text color classes.
.has-tts-oak-color {
	color: $oak;
}

.has-tts-redwood-color {
	color: $redwood;
}

.has-tts-river-color {
	color: $river;
}

.has-tts-snow-color {
	color: $snow;
}