// Color variables.
$dark-brown: #291d11;
$medium-brown: #3c2811;
$oak: #402920;
$redwood: #722f04;
$river: #2c5290;
$snow: #eeeeee;

// Block editor background color classes.
.has-tts-oak-background-color {
	background-color: #402920;
}

.has-tts-redwood-background-color {
	background-color: #722f04;
}

.has-tts-river-background-color {
	background-color: #2c5290;
}

.has-tts-snow-background-color {
	background-color: #eeeeee;
}

// Block editor text color classes.
.has-tts-oak-color {
	color: #402920;
}

.has-tts-redwood-color {
	color: #722f04;
}

.has-tts-river-color {
	color: #2c5290;
}

.has-tts-snow-color {
	color: #eeeeee;
}