.footer-widgets,
.site-footer {
	margin: 0;
	border: none;
}

.footer-widgets {
	padding-top: 3rem;
	background: $dry_grass;
	color: $snow;

	a,
	.widget ul li a {
		color: $oak;

		&:hover,
		&:focus {
			color: $redwood;
		}
	}
}

.site-footer {
	background: $oak;
	color: $snow;

	a,
	.widget ul li a {
		color: $snow;

		&:hover,
		&:focus {
			color: rgba(255,255,255,0.6);
		}
	}

	.copyright-text {
		margin: 0;
	}
}