.navigation-top {
	background: #fff;
	border: none;
	transition: all .25s;

	a,
	.current-menu-item > a,
	.current_page_item > a {
		color: $oak;
	}

	li:not(.current-menu-item):not(.current-page-item) > a:hover {
		color: $redwood;
	}

	&.site-navigation-fixed {
		background: $oak;

		a,
		.current-menu-item > a,
		.current_page_item > a {
			color: $snow;
		}

		li:not(.current-menu-item):not(.current-page-item) > a:hover {
			color: rgba(255,255,255,0.6);
		}
	}
}

/**
 * Media Queries
 */
@media screen and ( min-width: 48em ) {

	.site-header .navigation-top {

		.menu-scroll-down {
			color: $oak;
			top: 0;

			&:focus {
				outline: none;
			}
		}

		&.site-navigation-fixed {

			.menu-scroll-down {
				color: $snow;
			}
		}
	}
}